---
layout: default
title: Training & Education
---
<div class="three-card-responsive resources">
<section id="bioinformatics">
    <a href="https://www.lbrntraining.com/">
      <div class="img" style="background-image: url(images/new-screencaps/lbrntraining.png);"></div>
      <h2>LBRN Training Platform</h2>
      <p>The LBRN training platform is developed and operated by the Division of Biotechnology and Molecular Medicine (BioMMed) at the School of Veterinary Medicine (SVM), Louisiana State University- Baton Rouge, LA.
      </p>
      <p class="more">View More</p></a>
  </section>

  <section id="bioinformatics">
    <a href="Lectures-on-Informatics.html">
      <div class="img" style="background-image: url(images/new-screencaps/pastlect.jpg);background-position: left;"></div>
      <!-- <img src="images/new-screencaps/pastlect.jpg" alt="Past Lectures"> -->
      <h2>Lectures on Informatics</h2>
      <p>The BBC Core provides access to introductory lecture series on Bioinformatics, Biostatistics, and Computational Biology topics. </p>

      <p class="more">Lecture Series</p></a>
  </section>
  <section id="workshops">
    <a href="workshops.html"><img src="images/MicrosoftTeams-image.png" alt="LBRN hosted Training Workshops">
    <h2>Workshops</h2>
    <p>LBRN Cores host various one or two day workshops throughout the year where researchers, faculty, graduate and undergraduate students are invited to attend. Topics range from computational bioinformatics to protein purification, etc.</p>
    <p class="more">view more</p></a>
  </section>
</div>
<section class="news tne" id="newsContainer">
<!-- add limit: 2 to the 2nd tne post if needed -->
{% assign tne-post = site.posts | where: "tags", "tne" %}
  {% for post in tne-post %}
    {% include news-full-list-item.html %}
  {% endfor %}

</section>
<aside id="newsSidebar" class="tne">
  <ul>
    {% for post in tne-post %}
      <a href="#{{post.date}}"><li>{{post.title}}</li></a>
    {% endfor %}
  </ul>
</aside>
