{% for speakers in site.data.AM-speakers-2022 %}
<section>
	<a href="{{speakers.pdf}}" target="_blank" alt="Speaker's associated PDF">
    		<img src="{{speakers.picture}}" alt="{{speakers.name}} 's PDF thumbnail'"></a>
    <h3><a href="{{speakers.flyer}}" target="_blank" alt="Speaker's Flyer PDF">{{speakers.title2}}</a></h3>
	<p>{{speakers.name}}<br>
	{{speakers.university}}<br>
	{{speakers.title1}}<br><br>
	<strong><a href="{{speakers.flyer}}" target="_blank" alt="Speaker's Flyer PDF">{{speakers.name}} Event Flyer</a></strong></p>
		
</section>
{% endfor %}
