<section id="{{event.date | date: '%d' }}{{event.date | date: '%b'}}">
  {% if event.link != nil %}
  <a href="{{event.link}}">
  {% endif %}
  {% if event.categories contains "events" %}

  <!-- Check if it's a multi-day event -->
  {% if event.eventEndDate != nil %}

      <!-- Check if the months are the same, so as to only display one if needed -->
      {% assign a = event.eventDate  | date: '%b' %}
      {% assign b = event.eventEndDate  | date: '%b' %}
      {% if a contains b %}
        <!-- Same Month -->
        <div class="date enddate">
          <h3 class="date-day adjust">
            {{event.eventDate | date: '%d' }} - {{event.eventEndDate | date: '%d' }} {{event.eventEndDate | date: '%b'}}
          </h3>
          <h4 class="date-month"> {{event.eventEndDate | date: '%Y'}}</h4>
        </div>
      {% else %}
        <!-- Different Month -->
        <div class="date enddate">
          <h3 class="date-day adjust">
            <!-- Inserts both different months -->
            {{event.eventDate | date: '%d' }} {{event.eventDate | date: '%b'}} - {{event.eventEndDate | date: '%d' }} {{event.eventEndDate | date: '%b'}}
          </h3>
          <h4 class="date-month"> {{event.eventEndDate | date: '%Y'}}</h4>
        </div>
      {% endif %}
    {% else %}
    <div class="date">
      <h3 class="date-day adjust">
        {{event.eventDate | date: '%d' }} {{event.eventDate | date: '%b'}}

      </h3>
      <h4 class="date-month"> {{event.eventDate | date: '%Y'}}</h4>
    </div>
  {% endif %}

  <div class="details">
    <p class="title">{{event.title}}</p>
    <p class="description">{{event.excerpt}}</p>
    {% if event.startTime != nil }

    <p class="date-time">{{event.startTime}} to {{event.endTime}}</p>
    {% else %}

    {% endif %}

  </div>
  {% else %}
  <div class="notice details">
    <p class="title">{{event.title}}</p>
    <p class="description">{{event.excerpt}}</p>
  </div>
  {% endif %}
  {% if event.link != nil %}
    </a>
  {% endif %}
</section>
