<section id="{{event.date | date: '%d' }}{{event.date | date: '%b'}}">
  {% if event.link != nil %}
  <a href="{{event.link}}">
    {% else %}

  {% endif %}
  {% if event.categories contains "events" %}


  {% if event.eventEndDate != nil %}
  <div class="date enddate">
    <!-- {{event.eventEndDate}} -->
    <h3 class="date-day adjust">
      {{event.eventDate | date: '%d' }} {{event.eventDate | date: '%b'}}
    </h3>
    <h3 class="date-day adjust">
      {{event.eventEndDate | date: '%d' }} {{event.eventEndDate | date: '%b'}}
    </h3>
    <h4 class="date-month"> {{event.eventDate | date: '%Y'}}</h4>
    <h4 class="date-month"> {{event.eventEndDate | date: '%Y'}}</h4>
  </div>
  {% else %}
  <div class="date">
    <!-- {{event.eventEndDate}} -->
    <!-- nil -->
    <h3 class="date-day adjust">
      {{event.eventDate | date: '%d' }} {{event.eventDate | date: '%b'}}

    </h3>
    <h4 class="date-month"> {{event.eventDate | date: '%Y'}}</h4>
  </div>
  {% endif %}

  <!-- <div class="date">
    {{event.eventEndDate}}
    <h3 class="date-day adjust">
      {{event.date | date: '%d' }} {{event.date | date: '%b'}}

    </h3>
    <h4 class="date-month"> {{event.date | date: '%Y'}}</h4>
  </div> -->
  <div class="details">
    <p class="title">{{event.title}}</p>
    <p class="description">{{event.description}}</p>
    {% if event.startTime != nil }

    <p class="date-time">{{event.startTime}} to {{event.endTime}}</p>
    {% else %}

    {% endif %}

  </div>
  {% else %}
  <div class="notice details">
    <p class="title">{{event.title}}</p>
    <p class="description">{{event.description}}</p>
  </div>
  {% endif %}
  {% if event.link != nil %}
  </a>
  {% else %}

  {% endif %}
</section>
