<section>
  <a href="{{ '/events/' | relative_url }}#{{event.date | date: '%d' }}{{event.date | date: '%b'}}">


    {% if event.categories contains "events" %}

    {% if event.eventEndDate != nil %}

    <!-- Check if the months are the same, so as to only display one if needed -->
    {% assign a = event.eventDate  | date: '%b' %}
    {% assign b = event.eventEndDate  | date: '%b' %}
    {% if a contains b %}
      <!-- Same Month -->
      <div class="date enddate">
        <h4 class="date-day adjust">
          {{event.eventDate | date: '%d' }} - {{event.eventEndDate | date: '%d' }} {{event.eventDate | date: '%b'}}
        </h4>
        <h4 class="date-month"> {{event.eventDate | date: '%Y'}}</h4>
      </div>

    {% else %}
      <!-- Different Month -->
      <div class="date enddate">
        <h4 class="date-day adjust">
          {{event.eventDate | date: '%d' }} {{event.eventDate | date: '%b'}} - {{event.eventEndDate | date: '%d' }} {{event.eventEndDate | date: '%b'}}
        </h4>
        <h4 class="date-month"> {{event.eventDate | date: '%Y'}}</h4>
      </div>
    {% endif %}




      {% else %}
      <div class="date">
        <!-- {{event.eventEndDate}} -->
        <!-- nil -->
        <h3 class="date-day adjust">
          {{event.eventDate | date: '%d' }} {{event.eventDate | date: '%b'}}

        </h3>
        <h4 class="date-month"> {{event.eventDate | date: '%Y'}}</h4>
      </div>
    {% endif %}
    <!--
    <div class="date">
      <h3 class="date-day no-top">{{event.date | date: '%d' }}</h3>
      <h4 class="date-month">{{event.date | date: '%b'}}</h4>
    </div> -->
    {% else %}
    <div class="date">
      <h3 class="date-day no-top notice">{{event.categories}}</h3>
    </div>
    {% endif %}
  <div class="details">

    {% if event.categories contains "events" %}
      <p class="title space">{{event.title}}</p>
      {% if event.startTime != nil }
      {% else %}
      <p class="date-time">{{event.startTime}} to {{event.endTime}}</p>
      {% endif %}
    {% else %}
    <p class="title space">{{event.title}}</p>
    {% endif %}
    <p class="title">{{ event.excerpt }}</p>

  </div>
</a>
</section>
