// Colors - BLM
$color1: #656565;
$color2: #181818;
$tertiary: #2f2f2f;
$quadiary: #dedede;
$pentia: #bbbbbb;
$sexta: #ebebeb;
$carbg: rgba(0, 0, 0, 0.7);
$cartext: white;
$resgreen: #d1d1d1;
$aboutcores: #dddddd;
$aboutcoreshover: #f2f2f2;
$viewall: #2f2f2f;
$color1header: $color1;

$color1header: #ffffff;
$pageheader: #000000;
$resbuttoneven: #ffffff;
$resbuttonevenhover: $color2;

//misc
$filter:  grayscale(100%);
