
#eventsPage {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background-color: white;
  padding-top: 3em;

}



.events {
  box-sizing: border-box;
  width: 30%;
  margin-left: 0;
  margin-right: 0;
  order: 3;
  background-color: $color2;
  padding-bottom: 1.7em;
  margin-top: 0;
  float: right;
  padding-right: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;

  @media (max-width: $md){
    width: 100%;
    flex: 0 0 100%;
    float:none;
  }
  &.highlights {
    center {
      a.button {
        margin-bottom: 2em;
      }
    }
  }
  &#eventsContainer {
    margin-top: 2em;
    background-color: white;
    width: 100%;
    section {
      .details {
        padding-right: 5%;
        @media (max-width: $md){
          padding-right: 0;
        }
      }
      a {
        flex: 0 0 100%;
      }
    }
  }

  .feed {
    display: flex;
    flex-direction: column;
    background-color: $quadiary;
    section {
      .details {
        .title {
          &.space {
            font-size: 18px;
          }
        }
      }
      .date {
        &.enddate {
            .date-day {
              font-size: 22px;
            }
            .date-month {
              font-size: 22px;
            }
        }
      }
    }
    &.highlights {
      background-color: $pentia;
      section {
        display: flex;
        flex-direction: row;
        // flex-wrap: nowrap;
        // @media (max-width: $md) {
        //   flex-wrap: wrap;
        // }

        @media (max-width: $md){
          flex-direction: column;
          a{
            margin-right:0;
          }
        }
        .natural-link{
          flex: 0 0 100%;
          padding-top: 10px;
          text-align: center;
          font-family: $bodyFont;
        }
        .date {
            display: flex;
            @media (max-width: $md) {
              margin-right: 0;
            }
          img {
            max-width:100%;
            max-height: 100px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 6px;
          }
          h3{
            font-size: 17px;
            @media (max-width: $md) {
              font-size: 20px;
            }
          }
        }
        .details {
          display: flex;
          flex-direction: column;
          text-align: left;
          flex: 0 1 47%;
          .date-time{
            font-weight: 500;
          }
          .title {
            font-size: 16px;
            @media (max-width: $md) {
              font-size: 22px;
            }

          }
        }
      }
    }
  }
  .view-all {
    /* background-color: $color2; */
    color: $color1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding: 0 5%;
    text-align: center;
    text-decoration: none;
    font-family: $bodyFont;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
    @media (max-width: $md){
      margin: 1em 0;
    }
    &:hover {
        color: $viewall;
    }
  }
  &.highlights{
    section {
      .details {
        p{
          &.title {
            font-size: 28px;
            margin-bottom: 8px;
            line-height: 1.2;
            font-weight: 900;
            @media (max-width: $lg){
              font-size: 24px;
            }
            @media (max-width: $md){
              font-size: 20px;
            }
          }
          &.date-time{
            margin-bottom: 8px;
            @media (max-width: $lg){
              font-size: 17px;
            }
          }
        }
      }
      .date {
        display:flex;
        flex-direction: row;
        border-right:unset;
        margin-right: 0;
        border-right:unset;
        @media (max-width: $md){
          width: 100%;
          img {
            max-width: 100%;
          }
        }
        img{
          border-radius: 6px;
          margin-left: auto;
          margin-right: auto;
          flex: 0 1 auto;
          max-height: 200px;
          max-width: 200px;
          @media (max-width: $lg){
            max-height: 100px;
          }
          @media (max-width: $md){
            max-height: 200px;
          }


        }
      }
    }
    @media (max-width: $lg) {
      center .button{
        margin-top: 0;
      }
    }
  }
  h2{
    // margin-top: 1em;
    // margin-bottom: 1em;
    font-size: 2em;
    font-family: $openFont;
    color: $color1;
    margin: 1em 0;
    text-align: center;
    line-height: .5em;
  }
  section {
    padding-top: 15px;
    float: left;
    border-bottom: 1px solid $color1;
    transition: all .3s ease-in-out;
    width: 90%;
    margin: 0 5%;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $md) {
      margin-bottom: 4%;
      padding-bottom: 4%;
      width: 70%;
      flex-direction: column;
      margin: 0 15%;

    }
    a {

      margin-left: auto;
      margin-right: auto;
      display: flex;
      @media (max-width: $md){
        flex: 0 0 100%;
        flex-direction: column;
      }
      .date {
          h3 {
          &:hover {
              color: #384d89;
              cursor: pointer;
          }
        }
      }
    }
    .natural-link {
      // flex: 0 0 100%;
      text-align: center;
      padding-left: 50%;
      @media (max-width: $md) {
        padding-left: 0;
      }

      &.noticelink {
        padding-left: 0;
      }
      h6 {
        @media (max-width: $lg){
          font-size: 16px;
        }
      }
    }
    @media (max-width: $md) {
      padding-left: 5%;
      padding-right: 5%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .date {
        padding-bottom: 5%;
      }
      .natural-link {
        text-align: center;
      }
    }
    &:last-child {
          border: none;
    }
      a {
        &:hover {
          text-decoration: none;
        }
      }
      .date{
        width: 48%;
        float: left;
        font-family: $bodyFont;
        color: $color1;
        border-right: 1px solid $color1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 5%;
        align-content: baseline;
        // color: red;
        @media (max-width: $md){
          border-right: 0;
          width: 100%;
          flex: 0 0 100%;
        }
        &.enddate {
          .date-day{
            flex: 0 1 100%;
          }
          .date-month {
            flex: 0 1 100%;
            font-weight: normal;
          }
        }
        .date-day{
          font-weight: 500;
          font-size: 4em;
          text-align: center;
          border: none;
          line-height: 1;
          margin-bottom: 0;
          margin-top: 0;
          padding-top: .1em;
          padding-bottom: 0;
          padding-left: 0;
          font-size: 200%;
          flex: 0 0 100%;
          @media (max-width: $md){
            font-size: 2em;

          }

          &.no-top{
            padding-top: 0;
          }
          &.notice{
            font-size: 150%;
          }
        }
        .date-month {
          text-transform: uppercase;
          text-align: center;
          margin-top: 0;
          flex: 0 0 100%;
          font-size: 1.5em;
          @media (max-width: $md){
            font-size: 1.2em;
          }

        }
        h3 {
          &:hover {
              cursor: auto;
          }
        }
      }
    &:hover {
      border-radius: 7px;
      /* background-color: $color2; */
      background-color: $pentia;
      transition: all .3s ease-in-out;
    }
    .details {
      // width: 48%;
      // float: right;
      font-family: $bodyFont;
      color: $color1;
      // padding-left: 5%;
      flex: 0 1 47%;
      // color: red;
      @media (max-width: $md){
        width: 100%;
        padding-left: 0;
        text-align: left;
      }
        .title {
          margin-bottom: 0;
          margin-top: 0;
          // font-size: 1em;
          // font-size: 1.4em;
          font-size: 20px;
          font-weight: bold;
          @media (max-width: $md){
            font-size: 18px;
          }

        &.space {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: .75em;
          @media (max-width: $md){
            font-size: 20px;
          }
        }
      }
      .date-time {
        margin-top: 0;
        font-weight: bold;
        &.space {
          margin-bottom: .75em;
        }
      }
      .description {
        line-height: 1.2;
        margin-top: 0;
        font-weight: 300;
        display: block;
        @media (max-width: $md){
          display: none;
        }
      }
      &.notice {
        float: none;
        text-align: center;
        flex: 0 0 100%;
        .title {
          font-size: 1.5em;
        }
      }
    }
  }
  .Twitterf{
    // width: unset;
    // margin: 10%;
    width: 100%;
    padding: 10%;
    margin:0;
    padding-top: 0;
    /* border: 1px solid red; */
    @media (max-width: $md){
      display:none;
    }
  }

}
