body {
  footer {
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    background-color: $primary;
    justify-content: space-between;
    .layout {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1.5em;
      margin-bottom: 1.5em;
    }
    p {
      margin-top: 0.5em;
      float: left;
      color: white;
      line-height: 2em;
      font-family: $bodyFont;
      font-size: 0.75em;
      // width: 50%;
      flex: 1 1 50%;
      a {
        font-weight: bold;
        line-height: 3;
      }
    }

    span {
      font-style: italic;
      font-weight: bold;
    }

    .quicklinks {
      display: flex;
      flex: 1 0 100%;
      margin-bottom: 20px;
      font-family: $bodyFont;
      font-size: 14px;
      flex-wrap: wrap;
      ul {
        flex: 1 1 25%;
        li {
          color: $secondary;
          margin-bottom: 5px;
          // font-size: 0.9em;
          a {
            &:hover {
              color: white;
              text-decoration: none;
              transition: 0.4s;
              &::before {
                color: white;
              }
            }
            &::before {
              content: "\f054";
              font: normal normal normal 14px/1 FontAwesome;
              // color: $secondary;
              padding-right: 3px;
              font-size: 11px;
            }
          }
        }
      }
      .title {
        color: white;
        font-size: 1.2em;
        margin-bottom: 10px;
        flex: 1 1 100%;
      }
    }
    @media (max-width: $xxl) {
      padding-left: 5%;
      padding-right: 5%;
    }
    @media (max-width: $xl) {
      // margin: 24px;
    }
    @media (max-width: $lg) {
      p {
        // width: 100%;
        flex: 1 1 100%;
      }
    }
    @media (max-width: $md) {
      .quicklinks {
        flex-wrap: wrap;
        ul {
          flex: 0 0 100%;
        }
      }
    }
  }
}
