.summer {
  // width: 74%;
  // .vip-text, .variation .usual-text {
  //   display: none;
  // }
  margin: 0;
  width: 100%;
  margin-top: 26px;
  &#buttons {
    @media (max-width: $md) {
      position: absolute;
      top:0;
      background-color: rgba(green, 0.5);
    }
  }
  h2 {
    @media (max-width: $md) {
      font-size: 1.5em;
    }
  }
  .page {
    > *, .list-group  {
      display: none;
      &.show {
        display: block;
      }
    }
  }
  .bt-group {
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      position: relative;
      flex-wrap: wrap;
      > div {
          position: relative;
          margin-right: 10px;
          margin-bottom: 17px;
      }
      button {
        background-color: $quadiary;
        border: 0;
        &:hover, &.active-link:hover {
          background-color: rgba($quadiary, 0.3);
          color: $tertiary;

        }
        &.active-link {
          background-color: $tertiary;
          &:hover {
            ~ div {
              border-top-color: rgba($quadiary, 0.3);
            }
          }
          &  ~ div {
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 10px solid $tertiary;
              position: absolute;
              left: 50%;
              margin-left: -10px;
              clear:both;

          }
        }
        &:focus {
          box-shadow: 0 0 0 .2rem rgba($tertiary, 0.5);
        }
      }

  }

}
