// #eventArchiveMedia,
// #eventLodgingAndExpenses,
// #eventMediaLink,
// #eventParticipants,
// #eventPastParticipants,
// #eventPresentations,
// #eventRegistration,
// #eventSummary,
// #eventWhenAndWhere ,
// #eventAwards,

.content {
  .eventsection {
    position: relative;
    margin-bottom: 1.2em;

    h2 {
      // padding-left: 1em;
      /* padding-right: 1.5em; */
      margin-top: unset;
      background-color: unset;
      cursor: pointer;

      &:hover {
        // background-color: #e5f3e6;
        /* cursor: pointer; */
        border-radius: 10px;
      }
    }
    @media (min-width: $md) {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      overflow: hidden;

      h2 {
        // padding-left: 0;
        background-color: white;
        cursor: auto;

        &:hover {
          background-color: unset;
        }
      }
    }

    &#eventRegistration p,
    &#eventSummary p {
      // margin-top: 0.5em;
      font-size: 0.85em;
    }
  }

  div.caption {
    padding-left: 20px;
    @media (max-width: $md) {
      padding-left: 0;
    }
  }
}

#eventLodgingAndExpenses,
#eventWhenAndWhere {
  section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  .map-icon {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 13.7931%;
    float: left;
    margin-right: 3.44828%;
    margin-top: 0.25em;
    font-size: 2em;
  }

  .map-address {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 82.75862%;
    float: right;
    margin-right: 0;
  }
}

#speakers {
  overflow: hidden;
  *zoom: 1;

  section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  h3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 65.51724%;
    float: right;
    margin-right: 3.44828%;
    clear: unset;
    margin-top: 0.8em;
    cursor: auto;
  }

  p {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 65.51724%;
    float: right;
    margin-right: 3.44828%;
    margin-top: 0.25em;
    line-height: 1.4;
    &.bio {
      font-size: 18px;
      font-weight: 300;
    }
  }

  img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 20%;
    float: left;
    margin-left: 0;
    margin-top: 1.2em;
  }
}

.seminar-speaker {
  margin-top: 1em;
  margin-bottom: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;

  img {
    margin: auto;
    display: block;
  }

  h3 {
    margin-top: 1em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    position: relative;

    i {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 13.7931%;
      float: left;
      margin-right: 3.44828%;
      margin-left: 0;
      text-align: center;
      margin-top: 0.3em;
    }

    p {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 82.75862%;
      float: right;
      margin-right: 0;
      text-align: left;
    }
  }
}
