#newsPageContainer {
  padding-left: 5%;
  padding-right: 5%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5em;

  @media (min-width: $md) {
      width: 74.28571%;
      float: left;
      margin-right: 2.85714%;
      padding-right: 0;
  }

}


.news, div.content .news {
  .view-all {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background-color: $primary;
    margin: .5em 0;
    padding-top: .5em;
    padding-bottom: .5em;
    a {
     text-align: center;
     padding: 0;
     font-family: $bodyFont;
     color: white;
     text-decoration: none;
     &:hover {
       color: $secondary; }
     }
   }
  h2 {
    font-size: 2.5em;
    font-family: $openFont;
    color: $primary;
    margin-top: .5em; }
  article {
    min-height: 11em;
    overflow: hidden;
    margin-top: 1.75em;
    padding: 5px;
    padding-right: 10px;
    border-radius: 6px;
    transition: all .3s ease-in-out;


    .post-date {
     font-weight: 700;
     margin-top: 1.5em;
     font-family: $bodyFont;
     color: $primary;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     width: 100%;
     float: left;
     margin-left: 0;
     margin-right: 0;
     .pre {
      font-weight: 500 !important; }
    }
    .post-link {
     color: $secondary;
     font-size: 1em;
     font-family: $bodyFont;
     float: right;
     margin-top: 1em;
     margin-bottom: 1em;
     text-align: right;
     text-decoration: none;
      &:hover {
        color: #3d8340; }
      }
    .summary {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     width: 100%;
     float: left;
     margin-left: 0;
     margin-right: 0;
     margin-top: 1em;
     font-size: 1em;
     line-height: 1.2em;
     font-family: $bodyFont;
     color: $primary; }
    img {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
    border-radius: 6%; }
     h3 {
      margin-bottom: .3em;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      font-family: $titleFont;
      color: $secondary;
      font-weight: 700;
      font-size: 2em;
      line-height: 1.25em;
      margin-top:0;
      padding-left:0;
      border-left: none;
      &.override {
        margin-left: 0;
        padding-left: 0;
        font-size: 1.75em;
        border: none;
        // color: $primary;
        transition: all .3s ease-in-out;
        &:hover {
          cursor: auto;
        }
      }
      &:hover
      {
        /* color: #49a54e; */
       }

    }
    &.featured {
      padding: .5em .5em .75em .5em;
      background-color: $pentia;
      border-radius: 3%;
      h3 {
       color: $primary; }
    }
      &:hover {
        background-color: $pentia;
        transition: all .3s ease-in-out;
        h3 {
         &.override {
           color: $primary;
         }
       }
      }
    }
    @media (max-width: $md){
      article {
        display: flex;
        flex-direction: column;
        img {
          // width: 100%;
          // margin-left: 0;
          // margin-right: 0;
          margin-left: auto;
          margin-right: auto;
          max-height: 200px;
          max-width: 100%;
          width: auto;
          justify-self: center;
          display: flex;
        }
      }
    }
    @media (min-width: $md){
       article {
        // min-height: 11em;
        h3.override {
         margin-left: 0;
         padding-left: 0;
         font-size: 1.25em;
         border: none;
        }
        .post-date {
         font-size:1em;
        }
        .summary {
         font-size: 0.9em;
        }
        .spacers {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          float: left;
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 1.5em; }
        .sideTitle {
         -moz-box-sizing: border-box;
         -webkit-box-sizing: border-box;
         box-sizing: border-box;
         width: 65.71429%;
         float: right;
         margin-right: 0;
         font-size: 2em;
         line-height: 1em;
         margin-top: 0;
         padding-top: 0; }
         img {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 31.42857%;
          float: left;
          margin-right: 2.85714%;
        }
        .summary {
         margin-top: 0;
         -moz-box-sizing: border-box;
         -webkit-box-sizing: border-box;
         box-sizing: border-box;
         width: 65.71429%;
         float: right;
         margin-right: 0; }
         .post-link {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 65.71429%;
          float: right;
          margin-right: 0; }
        .post-date {
         margin-bottom: .5em;
         margin-top: 0;
         -moz-box-sizing: border-box;
         -webkit-box-sizing: border-box;
         box-sizing: border-box;
         width: 65.71429%;
         float: right;
         margin-right: 0; }
      }
    }
    &.tne{
      article {
        border-radius: 6px;
        padding:1em;
        h3{
          font-size: 1.5em;
        }
        &:hover{
          background-color: $sexta;
        }
        .post-link{
          margin-bottom: 0;
        }
      }

    }
}

#newsSidebar {
  display: none;
}
